<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport">
        <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
        <script>

        </script>
        <style>

        </style>
    </head>
    <body>
        <div  style="text-align: center;"><h1>Welcome to the College Gig</h1><p>Public View</p></div>

        <div><h3>Projects</h3>
            <ul>
                <li>Project1</li>
                <li>Project2</li>
            </ul>
        </div>

        <div>
            <h3>Resources</h3>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>Operating System</li>
                <li>Android App Development</li>
            </ul>
        </div>

        <div>
            <h3>Assignments</h3>
           <ul>
            <li>Assignment1</li>
            <li>Assignment2</li>
            <li>Assignment3</li>
            <li>Assignment4</li>
            <li>Assignment5</li>
           </ul>
        </div>
    </body>
</html>