<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport">
        <meta charset="utf-8" content="width=device-width, initial-scale=1.0">
        <style>

        </style>
        <script>

        </script>
    </head>
    <body>
        <center>
        <div>
            <h1>Welcome to the College Gig</h1>
        </div>

        <div>
           <form action="http://localhost:5000/verify" method="POST">
            Username: <input type="text" name="username"><br><br>
            Password: <input type="password" name="pass" id=""><br><br>
           <input type="submit" name="" id="">
        </form>
        </div>

        <div>
            <br><br><br>
                <button>Student Login</button>
                <button>Admin Login</button>
            
        </div>

        <div style="border:1px solid red ; width: fit-content;">
            <h5>Hint : Use It For Demonstration</h5>
            <p>Username : collegegig</p>
            <p>Password : gig</p>
        </div>
        <div style="border:1px solid red ; width: fit-content;">
            <h5>Hint : Use It For Admin</h5>
            <p>Username : collegegig</p>
            <p>Password : admin</p>
        </div>
    </center>
    </body>
</html>